#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list-container {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  overflow-y: overlay;
  max-height: 700px;
  width: 80vw;
  scrollbar-color: #ffffff40 #00000000;
}

li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}